
/* COLOR VARS */
:root {
  --boul-text: #e47c10;
  --qhse-text: #5fc3eb;
  --plan-text: #79992d;
  --documents-text: #736558;
  --admin-text: #008c7b;
  --compta-text: #ffe200;
  --social-text: #6ac8ba;
  --fin-text: #ff4800;
  --relation_sociale-text: #c53d8f;
  --entretien_pro-text: #4be257;
  --entretien_pro_ph-text: #4be257;
  --agenda-text: #008c7b;
  --formation-text: #cadd50;
  --mag-text: #cadd50;
  --cmptclt-text: #188092;
}
