

:root {
  --boul-text: #131413;
  --qhse-text: #131413;
  --plan-text: #131413;
  --documents-text: #131413;
  --admin-text: #131413;
  --compta-text: #131413;
  --social-text: #131413;
  --fin-text: #131413;
  --relation_sociale-text: #131413;
  --entretien_pro-text: #131413;
  --entretien_pro_ph-text: #131413;
  --agenda-text: #131413;
  --formation-text: #131413;
  --mag-text: #131413;
  --cmptclt-text: #131413;
}
